language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

install:
  - composer install

script:
  - vendor/bin/jsonlint channel_set.json
  - vendor/bin/jsonlint custom_fields/**/*

before_deploy:
  - rm -rf ./.*
  - rm -rf composer.*
  - rm -rf README.md
  - zip -r 'portfolio' .

deploy:
  provider: releases
  api_key:
    secure: mksWi0izhEWhU3ANoUxPQ0joBy4yCwiu7Y17HjvxxVYDuVXM/73ie1zQ34AFCtts4FxNmwrT1tAxVksDa41k1a6x3paxfcT6PySletw4RB3T3OmxNO4HYsvmtSL4DVWw7ru5btlFTVMB+cClqAP3u+T+14QPOrYfYJWqz5ckf+w=
  file: portfolio.zip
  skip_cleanup: true
  on:
    repo: EllisLab/channel-set-portfolio
    php: 7.0
    tags: true
    condition: $TRAVIS_PULL_REQUEST = false
